{% extends 'core/layout-main.html' %}

{% block content %}

<div class="container" style="margin-top: 10px;">
  <h2>Create an account</h2>
  <hr>
  <!-- User Registration Form -->
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>
</div>

{% endblock %}
