/****** Built-in Elements ******/
/* Reset for all element's padding and margins */
* { padding: 0; margin: 0; }
body {
    background-color: #314A53 !important;
}

a {
    transition: 0.3s;
}


/****** Classes ******/
.square {
    width: 50px;
    height: 50px;
}

/* Site Colors */
.primary { background-color: #7B4751; }
.primary2 { background-color: #C4939D; }
.primary3 { background-color: #9F6671; }

.secondary { background-color: #314A53; }
.secondary2 { background-color: #647C84; }
.secondary3 { background-color: #46626B; }

.tertiary { background-color: #7F824B; }
.tertiary2 { background-color: #CDD09C; }
.tertiary3 { background-color: #A5A96C; }

.NavItem {
    display: inline-block;
    line-height: 80px;
    font-size: 22px;
    padding: 0px 10px;
    color: white !important;
    border-left: 1px #9F6671 solid;
    border-right: 1px #9F6671 solid;
    margin-right: -5px;
    transition: 0.3s;
}
    .NavItem:hover {
        background-color: #6B3741;
    }

.NavBarTitle {
    display: inline-block;
    line-height: 80px;
    color: white;
    font-size: 42px;
    padding: 0px 20px;
}

/****** IDs ******/

#NavBar {
    background-color: #7B4751;
    height:80px;
}

#NavItems {
    display: inline-block;
    vertical-align: top;
}